modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41949730
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd BiduaIndustries-1 && npm install && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
